.pagination-button{
  /* display: flex;
  outline: 1px solid red;
  width: 100%;
  height: 40px;
  justify-content: center; */
  /* display:inline-block; */
}

.pagination-button > ul{
  display: flex;
  justify-content:space-around;
}


.pagination-button > ul:first-child a{
  margin-right: 5rem;
  margin-left:1rem;
}
ul:first-child a{
  /* margin-left: 2rem; */
  /* margin-right: 5rem;
  margin-left:1rem; */
}

.previous{
  margin-right: 15rem;
}

.next{
  margin-left: 15rem;
}