/* aside{
  height: 100vh;
} */

nav{
  width: 17.5rem
}

.sub-arrow{
  /* content: '\203A'; */
  /* margin-left: 10px; */
  /* transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);  */
}

.sub-menu{
 
}

.sub-menu-deactivate{
   display: none;
}